.home-page{
  background-image: url('./assets/Website_Background\ \(1\).jpg');
  background-size: cover;
  height: 100vh;
}
.logo{
  max-width: 550px; 
}
.logo-container{
  display: flex;
  justify-content: center;
  padding-top: 25px;
}
.sub-title{
  color: rgba(138, 37, 0, 0.432);
  font-size: 75px;
  text-align: center;
  margin-top: 125px;
}

.select-container{
  
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 200px;
}
select{
  width: 74%;
  border: none;
  outline: none;
    padding: 10px;
    border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: transparent;
  
 
}

.select{
 
  width: 245px;
  border-radius: 5px;
  border: 1px solid orangered;
  display: flex;
  align-items: center;
  
   

}
select option{
  color: orangered;
  text-align: center;
  

}
.select-text{
  color: white;
  background-color: orangered;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 10px;
}